@import "tailwindcss";

@theme {
  --font-sans: var(--font-main, "Inter"), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --accent: #ffffff;
  --font-main: "Inter";
}

body {
  font-family: var(--font-main), sans-serif;
}
